# File: .github/workflows/repo-sync.yml
name: sync from ddgksf2013|LeeeMooo|limbopro|DivineEngine|NobyDa|KOP-XIAO|I-am-R-E
on:
  schedule:
    - cron: '0 0-23 * * *'
  workflow_dispatch:

jobs:
  repo-sync:
    env:
      PAT: ${{ secrets.PAT }} #此处PAT需要申请，教程详见：https://www.jianshu.com/p/bb82b3ad1d11
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

#       - name: sync from ddgksf2013
#         uses: repo-sync/github-sync@v2
#         if: env.PAT
#         with:
#           source_repo: "https://github.com/ddgksf2013/Cuttlefish.git"
#           source_branch: "master"
#           destination_branch: "ddgksf2013"
#           github_token: ${{ secrets.PAT }}

      - name: sync from LeeeMooo
        uses: repo-sync/github-sync@v2
        if: env.PAT
        with:
          source_repo: "https://github.com/LeeeMooo/ScriptOwn.git"
          source_branch: "master"
          destination_branch: "LeeeMooo"
          github_token: ${{ secrets.PAT }}
                    
      - name: sync from limbopro
        uses: repo-sync/github-sync@v2
        if: env.PAT
        with:
          source_repo: "https://github.com/limbopro/Adblock4limbo.git"
          source_branch: "main"
          destination_branch: "limbopro"
          github_token: ${{ secrets.PAT }}
                    
#      - name: sync from DivineEngine
#        uses: repo-sync/github-sync@v2
#        if: env.PAT
#        with:
#          source_repo: "https://github.com/DivineEngine/Profiles.git"
#          source_branch: "master"
#          destination_branch: "DivineEngine"
#          github_token: ${{ secrets.PAT }}

      - name: sync from NobyDa
        uses: repo-sync/github-sync@v2
        if: env.PAT
        with:
          source_repo: "https://github.com/NobyDa/Script.git"
          source_branch: "master"
          destination_branch: "NobyDa"
          github_token: ${{ secrets.PAT }}

      - name: sync from KOP-XIAO
        uses: repo-sync/github-sync@v2
        if: env.PAT
        with:
          source_repo: "https://github.com/KOP-XIAO/QuantumultX.git"
          source_branch: "master"
          destination_branch: "KOP-XIAO"
          github_token: ${{ secrets.PAT }}

      - name: sync from I-am-R-E/QuantumultX
        uses: repo-sync/github-sync@v2
        if: env.PAT
        with:
          source_repo: "https://github.com/I-am-R-E/QuantumultX.git"
          source_branch: "main"
          destination_branch: "I-am-R-E@QuantumultX"
          github_token: ${{ secrets.PAT }}          
          
      - name: sync from I-am-R-E/Functional-Store-Hub
        uses: repo-sync/github-sync@v2
        if: env.PAT
        with:
          source_repo: "https://github.com/I-am-R-E/Functional-Store-Hub.git"
          source_branch: "Master"
          destination_branch: "I-am-R-E@Functional-Store-Hub"
          github_token: ${{ secrets.PAT }}
